<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="footer-container" th:fragment="footer">
        <div class="footer-title">友情链接</div>
        <div class="footerDataList">
            <a href="https://www.ykyoufa.com/?btwaf=31276814">韩剧网</a>
            <a href="https://www.kan.cc/">看韩剧</a>
            <a href="http://www.cdwhcw.com/">人人视频</a>
            <a href="https://www.wxtlon.com/">策驰影院</a>
            <a href="https://www.hjtv.me/">韩剧TV</a>
        </div>
        <hr class="line">
        <div class="footer-info">
            <div class="copyright">
                版权声明：本网站为非赢利性站点，本网站所有内容均来源于互联网相关站点自动搜索采集信息，相关链接已经注明来源。
            </div>
            <div class="disclaimer">
                免责声明：本站所有信息均为采集引用,不存有资源,若有侵权行为,请联系站长删除,邮箱：TV89633#gmail.com。请大家支持正版。
            </div>
            <div class="description">
                Copyright 2019-2022 <a href="http://www.ykyoufa.com">韩剧网-韩剧tv网www.ykyoufa.com</a>. All Rights Reserved.
            </div>
        </div>
    </div>
</body>
</html>