<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="video-container" th:fragment="time">
    <div class="video-title"><span>全部视频</span>
    </div>
    <div class="videoDataList">
        <div class="videoItem" th:each="timeList:${videoListTypeAndTime}">
            <a class="videoImg" th:href="@{'/videoDetail/index/'+${timeList.videoId}+'/1'}">
                <i class="praise" th:text="'豆瓣&nbsp;'+${timeList.score}+'分'"></i>
                <img th:src="${timeList.image}">
                <i class="status" th:text="${timeList.status}"></i>
            </a>
            <div class="videoTitle" th:text="${timeList.name}">
            </div>
            <div class="videoActors" th:text="${timeList.actors}">
            </div>
        </div>
    </div>
</div>
</body>
</html>